<% include head %>
<p class="navigation">
  <a href="/">К списку</a>
</p>
<h3><%= article.name %></h3>
<div class="wrap">
  <% article.asans.split(',').forEach((a) => { %> <% if(a== 'line') { %>
  <hr />
  <% } else { %>
  <img src="/asans/<%= a %>.gif" alt="" />
  <% } %> <% }) %>
</div>
<% include foot %>
