<% include head %> <% articles.forEach((article) => { %>
<h3><%= article.name %></h3>
<ul>
  <% article.weeks.forEach(w => { %>
  <li>
    <a href="/<%= article.id %>/<%= w.name %>">
      <%= w.name %>
    </a>
  </li>
  <% }) %>
</ul>
<% }) %> <% include foot %>
